# yaml-language-server: $schema=../../vendor/symfony/dependency-injection/Loader/schema/services.schema.json
twig:
    file_name_pattern: '*.twig'

when@test:
    twig:
        strict_variables: true
