services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        UID: ${UID}
        GID: ${GID}
    user: "${UID}:${GID}"
    volumes:
      - .:/var/www/html
    env_file:
      - ./.env
    networks:
      - symfony-network

  nginx:
    image: nginx:alpine
    ports:
      - "8084:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - symfony-network

networks:
  symfony-network:
    driver: bridge
